modules = ["python-3.11", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "html-server"

[[workflows.workflow]]
name = "html-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 8000 --directory ."
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "static"
publicDir = "."
